.gitignore
.DS_Store
_metanetpaper.tmproj
*/.DS_Store
*.aux
*.log
*.out
*.toc
languages_in_the_digital_age/*/*.pdf
!languages_in_the_digital_age/_media/*.pdf
language_test/language_test.pdf
template/metanetpaper_lwp_template.pdf
*.synctex.gz
righttext.tex
leftext.tex
b.tex
*.bbl
*.blg
