.DS_Store
*/.DS_Store
*.tmproj
*.tm_properties

*.aux
*.log
*.out
*.toc
*.brf
*.synctex.gz*
righttext.tex
leftext.tex
b.tex
*.bbl
*.blg

languages_in_the_digital_age/*/*.pdf
!languages_in_the_digital_age/_media/*.pdf

strategic_research_agenda/*/*.pdf
!strategic_research_agenda/_media/*.pdf

character_test/*.pdf

template/metanetpaper_lwp_template.pdf 
